/*!
Theme Name: Pingüica Diseño Floral
Theme URI: https://somosbloom.com/
Author: Bloom Studio
Author URI: https://somosbloom.com/
Description: Developed by bloom
Version: 1.0.0
Text Domain: pinguica
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Global
# Typography
# Forms
# Elements
# Navigation
# Footer
# Content
	# Home
	# Services
	# Contact
	# Gallery
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Global
--------------------------------------------------------------*/
@import "global/lightbox";

$color--pink: #e6d4cf;
$color--purple: #babbd1;
$color--mint: #bed1d1;
$color--gray: #e6e6e6;
$color--brown: #847776;

a {
	display: inline-block;
	&,
	&:hover {
		color: inherit;
		text-decoration: none;
	}
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
$font--rozha: "Rozha One", serif;
$font--cardo: "Cardo", serif;

body {
	font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
.gform_wrapper {
	.gform_fields {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		margin-left: -15px;
		margin-right: -15px;
		.gfield {
			label {
				position: absolute;
				width: 1px;
				height: 1px;
				padding: 0;
				overflow: hidden;
				clip: rect(0, 0, 0, 0);
				white-space: nowrap;
				border: 0;
			}
			input,
			textarea {
				display: block;
				width: 100%;
				height: calc(1.5em + 0.75rem + 2px);
				padding: 0.375rem 0.75rem;
				font-size: 1rem;
				font-weight: 400;
				line-height: 1.5;
				color: #495057;
				background-color: transparent;
				background-clip: padding-box;
				border: 1px solid #000;
				border-radius: 0;
				transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
			}
		}
	}
	.gform_footer {
		text-align: center;
		button {
			background: transparent;
			border: none;
		}
	}
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
section {
	overflow: hidden;
}

.marker {
	box-shadow: inset 0 -0.8em 0 0 #fff;
	padding: 0 8px;
}

.marker-green {
	box-shadow: inset 0 -0.8em 0 0 $color--mint;
	padding: 0 8px;
}

.marker-purple {
	box-shadow: inset 0 -0.8em 0 0 $color--purple;
	padding: 0 8px;
	display: inline;
}

.box {
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	&:after {
		content: "";
		display: block;
		padding-top: 100%;
	}
}

.bg-cover {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.bg-pink {
	background-color: $color--pink;
}

.bg-mint {
	background-color: $color--mint;
}

.bg-gray {
	background-color: $color--gray;
}

.bg-purple {
	background-color: $color--purple;
}

.color-brown {
	color: $color--brown;
}

.service-modal {
	.service-modal__img {
		height: 350px;
		@media (min-width: 992px) {
			height: 100%;
		}
	}
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
.pinguica-header {
	position: relative;
	padding-top: 15px;
	padding-bottom: 15px;
	z-index: 1200;
	.brand {
		position: absolute;
		width: 120px;
		height: 120px;
		background-color: #fff;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		left: 0;
		right: 0;
		top: 0;
		margin: auto;
		img {
			width: 100px;
			height: auto;
		}
	}
	.menu {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: center;
		li {
			&:first-child {
				margin-right: 50px;
			}
			&:nth-child(2) {
				padding-right: 90px;
			}
			&:nth-child(3) {
				padding-left: 90px;
				margin-right: 50px;
			}
			a {
				//font-family: $font--cardo;
				position: relative;
				&:after {
					content: "";
					display: block;
					position: absolute;
					width: calc(100% + 16px);
					height: 8px;
					background-color: $color--pink;
					left: -8px;
					right: 0;
					bottom: 0;
					margin: auto;
					transform: translate(0, -50%) scale(0, 1);
					transform-origin: left;
					z-index: -1;
					transition: all 0.3s ease-in-out;
				}
				&:hover {
					&:after {
						transform: translate(0, -50%) scale(1, 1);
					}
				}
			}
			&.current-menu-item {
				a {
					&:after {
						transform: translate(0, -50%) scale(1, 1);
					}
				}
			}
		}
	}
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.pinguica-footer {
	color: $color--brown;
	.border-footer {
		border-right: solid 1px $color--brown;
	}
	.footer-logo {
		width: 100%;
		max-width: 120px;
	}
	p,
	a {
		font-size: 0.8rem;
	}
}

/*--------------------------------------------------------------
# Content | Home
--------------------------------------------------------------*/
.p-home {
	.welcome-section {
		.home-slider {
			.home-slider__slide {
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				&:after {
					content: "";
					display: block;
					padding-top: 45%;
				}
				h1 {
					font-size: 3.5rem;
					// span {
					// 	display: inline-block;
					// 	position: relative;
					// 	z-index: 1;
					// 	&:before {
					// 		content: "";
					// 		width: calc(100% + 30px);
					// 		height: 45%;
					// 		background-color: $color--purple;
					// 		display: block;
					// 		position: absolute;
					// 		left: -15px;
					// 		right: 0;
					// 		bottom: 10px;
					// 		margin: auto;
					// 		z-index: -1;
					// 	}
					// }
				}
			}
		}
	}
	.about-section {
		position: relative;
		.img-collage {
			margin-bottom: -15%;
		}
		.about-section__col1 {
			min-height: calc(100vh + 50px);
			margin-top: -50px;
		}
		.about-section__col2 {
			min-height: 100vh;
			margin-top: -6rem;
		}
		.about-section__img1,
		.about-section__img2,
		.about-section__img3 {
			&:before,
			&:after {
				content: "";
				width: 100%;
				height: 100%;
				border: solid 2px #000;
				display: block;
				position: absolute;
			}
			&:before {
				top: 10px;
				right: 15px;
			}
			&:after {
				top: -10px;
				right: -10px;
				z-index: -1;
			}
		}
		.about-section__img1 {
			width: 50%;
			height: auto;
			display: block;
			transform: translateX(calc(-50% - 15px));
			margin-top: 30px;
			position: relative;
			z-index: 0;
		}
		.about-section__img2 {
			width: 40%;
			display: block;
			z-index: 1;
			position: relative;
			margin-top: -38%;
			margin-left: 15%;
			&:before,
			&:after {
				border-color: #dedbd2;
			}
		}
		.about-section__img3 {
			width: 70%;
			display: block;
			z-index: 2;
			position: relative;
			margin-left: -85%;
			margin-top: -28%;
			&:before,
			&:after {
				border-color: #fff;
				z-index: 1;
			}
		}
		.about-section__stamp {
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto;
			height: 200px;
			width: 200px;
			right: 0;
			transform: translateX(50%);
		}
		.banner {
			font-size: 1.8rem;
			position: relative;
			.star {
				width: 100px;
				height: auto;
				position: absolute;
				right: 10%;
				top: 15%;
			}
			.squares {
				width: 100px;
				height: auto;
				position: absolute;
				left: 15%;
				bottom: 30%;
			}
		}
	}
	.services {
		margin-top: -50px;
		.services-description {
			padding: 10px;
			.services-description__inner {
				border: solid 2px #fff;
			}
		}
		.services-img-wrapper {
			border: solid 2px #dedbd2;
			padding: 15px;
		}
	}
}

/*--------------------------------------------------------------
# Content | Services
--------------------------------------------------------------*/
.p-services {
	.statement {
		p {
			font-size: 1.5rem;
		}
	}
	.service-item {
		display: inline-block;
		width: 100%;
		max-width: 200px;
		position: relative;
		cursor: pointer;
		&:after,
		&:before {
			content: "";
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			border: solid 2px #dedbd2;
			top: 0;
			left: 0;
		}
		&:after {
			transform: rotate(45deg);
		}
		.service-item__img {
			width: 100%;
			border-radius: 50%;
			background-color: lightgray;
			display: block;
			&:after {
				content: "";
				display: block;
				padding-top: 100%;
			}
		}
	}
}
.service-slider {
	width: 100%;
	.service-slider__slide {
		width: 100%;
		height: 500px;
		object-fit: cover;
	}
}

/*--------------------------------------------------------------
# Content | Gallery
--------------------------------------------------------------*/
.gallery-item {
	background-color: lightgray;
	&:after {
		content: "";
		display: block;
		padding-top: 100%;
	}
}

/*--------------------------------------------------------------
# Content | Contact
--------------------------------------------------------------*/
.p-contact {
	p {
		font-size: 1.3rem;
	}
}
